{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'home/pm.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    {% block style_sheets %}{% endblock %}

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {% if title %}
    <title>Charger - {{ title }}</title>
    {% else %}
    <title>Charger</title>
    {% endif %}
</head>
<body>
<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>

    <nav id="navbar" class="z-depth-4">
        <div class="container nav-wrapper">
            {% url 'home-news' as url_news %}
            {% url 'home-about' as url_about %}
            {% url 'profile' as url_profile %}
            {% url 'logout' as url_logout %}
            {% url 'register' as url_register %}
            {% url 'login' as url_login %}
            {% url 'admin:index' as url_admin %}
            <ul id="nav-mobile">
                <div class="left hide-on-med-and-down">
                    <li><a href="/" class="brand-logo mr-5" style="position: relative;">Logo</a></li>
                    <li class="{% if request.get_full_path == url_news %}active{% endif %}"><a href="{{ url_news }}">News</a></li>
                    <li class="{% if request.get_full_path == url_about %}active{% endif %}"><a href="{{ url_about }}">About</a></li>
                </div>
                <div class="right hide-on-med-and-down">
                    {% if user.is_authenticated %}
                    <li class="{% if request.get_full_path == url_profile %}active{% endif %}"><a href="{{ url_profile }}">Profile</a></li>
                    <li class="{% if request.get_full_path == url_logout %}active{% endif %}"><a href="{{ url_logout }}">Logout</a></li>
                    {% else %}
                    <li class="{% if request.get_full_path == url_register %}active{% endif %}"><a href="{{ url_register }}">Register</a></li>
                    <li class="{% if request.get_full_path == url_login %}active{% endif %}"><a href="{{ url_login }}">Login</a></li>
                    {% endif %}
                    {% if user.is_staff %}
                    <li class="{% if request.get_full_path == url_admin %}active{% endif %}"><a href="{{ url_admin }}">Admin</a></li>
                    {% endif %}
                </div>
            </ul>
        </div>
    </nav>

    <div id="maincontent" class="row">
        <div id="sidebar" class="col s2">
            <div id="sidebar-fixed" class="col s2 z-depth-3">
                <div class="card-panel teal">
                <span class="white-text">I am a placeholder.
                    Here shall be a profile picture and some information about the currently logged in user and her or his company.
                </span>
                </div>
                {% url 'charger-dashboard' as url_dashboard %}
                {% url 'home-news' as url_news %}
                {% url 'map-view' as url_map %}
                <a href="{{ url_dashboard }}" class="sidebar-item collection-item {% if request.get_full_path == url_dashboard %}active{% endif %}">Dashboard</a>
                <a href="{{ url_map }}" class="sidebar-item collection-item {% if request.get_full_path == url_map %}active{% endif %}">Map</a>
                <a href="#" class="sidebar-item collection-item">Loadmanagement</a>
                <a href="#" class="sidebar-item collection-item">Report</a>
                <a href="#" class="sidebar-item collection-item">Stations</a>
                <a href="#" class="sidebar-item collection-item">Maintenance</a>
                <a href="{{ url_news }}" class="sidebar-item collection-item {% if request.get_full_path == url_news %}active{% endif %}">TempNews</a>
            </div>
        </div>

        {% block content %}{% endblock %}

    </div>

    {% block scripts %}{% endblock %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>