        {% url 'settings-user-list' as url_settings %}
        <div id="sidebar" class="col s5 m4 l3 xl2 ">
            <div id="sidebar-fixed" class="col s5 m4 l3 xl2 z-depth-3">
                {% if user.is_authenticated %}
                {% if url_settings in request.get_full_path %}
                <h4 class="center-align my-2">Settings</h4>
                {% endif %}
                <div class="card-panel teal m-1 z-depth-4">
                    <div class="row valign-wrapper mb-1">
                        <a href="{% url 'profile' %}"><img class="circle account-img-small" src="{{ user.profile.image.url }}"></a>
                        <div class="full-wh mr-5">
                            <h5 class="mt-0">{{ user.username }}</h5>
                        </div>
                    </div>
                    <span class="white-text">
                        Here shall be some information about the current user and his company.
                    </span>
                </div>
                {% endif %}
                {% if url_settings in request.get_full_path %}
                {% url 'profile-edit' as url_profile_edit %}
                {% url 'password-change' as url_password_change %}
                {% url 'settings-company-list' as url_company_list %}
                {% url 'create-company' as url_create_company %}
                <a href="{{ url_profile_edit }}" class="sidebar-item collection-item {% if request.get_full_path == url_profile_edit %}active{% endif %}">Profile</a>
                <a href="{{ url_password_change }}" class="sidebar-item collection-item {% if request.get_full_path == url_password_change %}active{% endif %}">Change Password</a>
                <a href="{{ url_settings }}" class="sidebar-item collection-item {% if request.get_full_path == url_settings %}active{% endif %}">User List</a>
                <a href="{{ url_company_list }}" class="sidebar-item collection-item {% if request.get_full_path == url_company_list %}active{% endif %}">Company List</a>
                {% if user.is_staff %}
                <a href="{{ url_create_company }}" class="sidebar-item collection-item {% if request.get_full_path == url_create_company %}active{% endif %}">Create Company</a>
                {% endif %}
                {% else %}
                {% url 'charger-dashboard' as url_dashboard %}
                {% url 'home-news' as url_news %}
                {% url 'map-view' as url_map %}
                <a href="{{ url_dashboard }}" class="sidebar-item collection-item {% if request.get_full_path == url_dashboard %}active{% endif %}">Dashboard</a>
                <a href="{{ url_map }}" class="sidebar-item collection-item {% if request.get_full_path == url_map %}active{% endif %}">Map</a>
                <a href="#" class="sidebar-item collection-item">Loadmanagement</a>
                <a href="#" class="sidebar-item collection-item">Report</a>
                <a href="#" class="sidebar-item collection-item">Stations</a>
                <a href="#" class="sidebar-item collection-item">Maintenance</a>
                <a href="#" class="sidebar-item collection-item">Alarm</a>
                {% endif %}
<!--                <a href="{{ url_news }}" class="sidebar-item collection-item {% if request.get_full_path == url_news %}active{% endif %}">TempNews</a>-->
            </div>
        </div>