html {
  height: 100%;
  position: relative;
}

body {
  display: flex;
  flex-flow: column;
  height: 100vh;
  width: 100vw;
  background: #fafafa;
  color: #333333;
  margin:0;
  padding:0;
}

#navbar {
  background-color: #008000;
  border-bottom-style: solid;
  border-width: 2px;
  border-color: #006400;
}

#sidebar {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
}

#sidebar-fixed {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  background-color: #fff;
}

#sidebar-fixed .card-panel {
  margin: 0;
}

#sidebar-fixed a {
  border-bottom: 0;
}

#sidebar-fixed .sidebar-item.active {
  background-color: #32CD32;
}

.sidebar-item {
  display:block;
  transition: .25s;
  color: #26a69a;
  padding: 10px 20px;
  margin: 0;
}

#maincontent {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-y: auto;
}

#main-panel {
  height: 100%;
  width: 100%;
}

#panel-titel {
  width: 90%;
  margin: 0 auto;
}

#panel-content {
  width: 95%;
  margin: 0 auto;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-img-small {
  height: 60px;
  width: 60px;
  margin-right: 10px;
  margin-bottom: 5px;
}

.full-wh {
  height: 100%;
  width:100%
}