{% extends "base/base_panel.html" %}
{% load auth_extras %}

{% block panel_topright_button %}
{% has_group user object.group as is_group %}
{% if user.is_staff or user.is_admin or is_group %}
<a class="btn waves-effect waves-light z-depth-3 mr-3 orange" href="{% url 'register-employee' object.pk %}">Add Employee</a>
<a class="btn waves-effect waves-light z-depth-3 mr-3 orange" href="{% url 'company-edit' object.pk %}">Edit Company</a>
<a class="btn waves-effect waves-light z-depth-3 mr-3 red" href="#">Delete Company</a>
{% endif %}
{% endblock panel_topright_button %}

{% block panel_title %}
{{ object.group }}
{% endblock panel_title %}

{% block panel_content %}
<div class="card horizontal">
    <div class="card-stacked">
        <div class="card-content py-1">
            <img class="responsive-img company-img" src="{{ object.image.url }}">
            <div class="row valign-wrapper mb-0 mt-1">
                <div style="float:left;"><img class="circle account-img" src="{{ object.logo.url }}"></div>
                <div class="full-wh mr-5">
                    <h4>{{ object.group }}</h4>
                </div>
            </div>
            {% if object.homepage %}
            <p>Hompage: <a href="{{ object.homepage }}" target="_blank">{{ object.homepage }}</a></p>
            {% endif %}
        </div>
        <div class="card-panel mb-0">
            {% for employee in object.get_employees %}
            <div class="card horizontal">
                <div class="card-stacked">
                    <div class="card-content py-1">
                        <div class="row valign-wrapper mb-0 mt-1">
                            <img class="circle account-img-small" src="{{ employee.user.profile.image.url }}">
                            <div class="full-wh mr-5">
                                <p><a href="{% url 'user-detail' employee.user.pk %}" class="mr-2">{{ employee.user }}</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock panel_content %}