{% extends "base/base_panel.html" %}
{% load auth_extras %}

{% block panel_topright_button %}
{% has_group user object.group as is_group %}
{% if user.is_staff or user.is_admin or is_group %}
<a class="btn waves-effect waves-light z-depth-3 mr-3 orange" href="{% url 'register-employee' object.pk %}">Add Employee</a>
{% endif %}
{% endblock panel_topright_button %}

{% block panel_title %}
{{ object.group }}
{% endblock panel_title %}

{% block panel_content %}
<div class="card horizontal">
    <div class="card-stacked">
        <div class="card-content py-1">
            <div class="row valign-wrapper mb-0 mt-1">
                <img class="circle account-img" src="{{ object.image.url }}">
                <div class="full-wh mr-5">
                    <h4>{{ object.group }}</h4>
                    <span class="article-title card-title">{{ object.title }}</span>
                </div>
            </div>
        </div>
        <div class="card-action card-content">
            <p>{{ object.content }}</p>
        </div>
    </div>
</div>

{% endblock panel_content %}