{% extends "base/base_panel.html" %}
{% block panel_title %}
Logout
{% endblock panel_title %}

{% block panel_content %}
<div class="row">
    <div class="col s12">
        <div class="card-panel">
            <h5>You have been logged out.</h5>
            <div class="border-top pt-3">
                <small class="text-muted">
                    <a href="{% url 'login' %}">Log In Again</a>
                </small>
            </div>
        </div>
    </div>
</div>
{% endblock panel_content %}