{% extends "base/base_panel.html" %}

{% block panel_topright_button %}
{% if user.is_authenticated %}
<a class="btn waves-effect waves-light z-depth-3" href="{% url 'create-company' %}">Create Company</a>
{% endif %}
{% endblock panel_topright_button %}

{% block panel_title %}
Companies
{% endblock panel_title %}

{% block panel_content %}

{% for company in companies %}
<div class="card horizontal">
    <div class="card-stacked">
        <div class="card-content py-1">
            <div class="row valign-wrapper mb-0 mt-1">
                <img class="circle account-img-small" src="{{ company.image.url }}">
                <div class="full-wh mr-5">
                    <p><a href="{% url 'company-detail' company.pk %}" class="mr-2">{{ company.group }}</a></p>
                </div>
            </div>
        </div>
        <div class="card-action card-content">
            <p></p>
        </div>
    </div>
</div>
{% endfor %}



{% endblock panel_content %}