{% extends "base/base_panel.html" %}

{% block panel_topright_button %}
{% if object.author == user %}
<a class="btn waves-effect waves-light z-depth-3 mr-3 orange" href="{% url 'post-update' object.id %}">Edit</a>
<a class="btn waves-effect waves-light z-depth-3 red" href="{% url 'post-delete' object.id %}">Delete</a>
{% endif %}
{% endblock panel_topright_button %}

{% block panel_title %}
{{ object.title }}
{% endblock panel_title %}

{% block panel_content %}
<div class="card horizontal">
    <div class="card-stacked">
        <div class="card-content py-1">
            <div class="row valign-wrapper mb-0 mt-1">
                <img class="circle account-img-small" src="{{ object.author.profile.image.url }}">
                <div class="full-wh mr-5">
                    <p><a href="#" class="mr-2">{{ object.author }},</a> {{ object.date_posted|date:"F d, Y" }}</p>
                    <span class="article-title card-title">{{ object.title }}</span>
                </div>
            </div>
        </div>
        <div class="card-action card-content">
            <p>{{ object.content }}</p>
        </div>
    </div>
</div>

{% endblock panel_content %}